<h1>Please login!<h1>
<br>
<h4> Don't have an account? <a href="/signup">Signup<a></h4>
<br>
<form action="/login" method="post">
  <h3>Username: <input type="text" name="username"><h3>
  <h3>Password: <input type="password" name="password"><h3>
  <input type="submit" value="Login" id="submit">
</form>
