<h3>All Characters</h3>

<% @characters.each do |character| %>
  <div>
    <h3><a href="/characters/<%=character.id%>"><%= character.name %></a></h3>
    <h5>By: <a href="/users/<%= character.user.username.downcase %>"><%=character.user.username.capitalize%></a></h5>
  </div>
<% end %>
